<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente | Mercado ON</title>
    <link rel="stylesheet" th:href="@{/css/cadastro_cliente.css}">
</head>
<body>
    <form id="cadastro_form">
        <table id="tabela_form">
            <tr>
                <td>Nome</td>
                <td>
                    <input id="nome" name="nome" type="text" >
                </td>
            </tr>
            <tr>
                <td>Sobrenome</td>
                <td>
                    <input id="sobrenome" name="sobrenome" type="text" >
                </td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>
                    <input id="email" name="email" type="email" >
                </td>
            </tr>
            <tr>
                <td>CPF</td>
                <td>
                    <input id="cpf" name="cpf" type="text" >
                </td>
            </tr>
            <tr>
                <td>Endereço</td>
                <td>
                    <input id="endereco" name="endereco" type="text" >
                </td>
            </tr>
            <tr>
                <td>Senha</td>
                <td>
                    <input id="senha" name="senha" type="password" >
                </td>
            </tr>
            <tr>
                <td>Confirme senha</td>
                <td>
                    <input id="confirma_senha" name="senha" type="password" >
                </td>
            </tr>
            <tr>
                <td>
                    <input value="Cadastrar" type="button" onclick="cadastrar()">
                </td>
            </tr>
        </table>
    </form>
    <div id="erro" class="erro"></div>
    <script th:src="@{/js/cadastro_cliente.js}"></script>
</body>
</html>