<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Mercado ON</title>
    <style>
        span {
            display: block;
        }

        .img-thumbnail {
            width: 400px;
            height: 200px;
        }

        .produtos {
            border: 2px solid black;
            margin: 20px 0 20px 0;
        }
    </style>
</head>
<body>
    <h2 th:text="${cliente.nome}"></h2>
    <h4 th:text="${id}"></h4>  

    <div>
        <form th:action="@{/cliente/sair}">
            <input type="submit" value="Sair">
        </form>
    </div>
    <div>
        <button onclick="window.location.href='/produto/cadastrar'">Novo Produto</button>
    </div>
    <div class="produtos" th:each="produto : ${cliente.produtos}">
        <div id="titulo">
            <span id="nome" th:text="${produto.nome}"></span>
            <span id="marca" th:text="${produto.marca}"></span>
        </div>
        <div class="div_imagem" th:each="imagem : ${produto.imagens}">   
            <img class='img-thumbnail' th:src="'data:image/*;base64,' + ${imageUtil.getImageData(imagem.data)}" th:alt="${imagem.nome}"/>
        </div>
        <span id="categoria" th:text="${produto.categoria}"></span>
        <span id="modelo" th:text="${produto.modelo}"></span>
        <span id="cor" th:text="${produto.cor}"></span>
        <span id="descricao" th:text="${produto.descricao}"></span>
        <span id="descricao_tecnica" th:text="${produto.descricaoTecnica}"></span>
        <span id="preco" th:text="${produto.preco}"></span>
    </div>
</body>
</html>