<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início | MercadoON</title>
    <link rel="stylesheet" href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" th:href="@{/images/logo.jpeg}"/>
</head>
<body>
    <div class="titulo">
        Mercado ON
        <img class="logo" src="../static/images/logo.jpeg" alt="logo">
    </div>

    <div class="conteudo">  
        <div class="texto_propaganda">Encontre e anuncie produtos novos e usados por todo o Brasil.</div>

        <div class="div_botao">
            <button class="botao" onclick="window.location.href='/cliente/login'">Entrar</button>
            <button class="botao" onclick="window.location.href='/cliente/cadastrar'">Cadastrar</button>
        </div>
    </div>
    
    <div class="rodape">
        Fale conosco: (xx) xxxxx-xxxx
    </div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>